
#top {
    position: relative;
    background-color: #ffffff;
    color: #e7e7e7;      
    margin: 0px 0px 0px 0px;    
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    height: 60px
}

#bottom {
    position: relative;
    background-color: #f0c65d;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 0px;
    width: 150px;
}

.center_content {
    position: relative;    
    padding: 60px;    
}

.left_content {
    background-color: #f0c65d;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #e3fff1;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: black;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: #77c951;
  font-weight : bold;
  text-decoration : none;
}






